venv
.venv-tfpwa

amplitudes.txt
data/crosscheck_amplitudes.txt
archive/data/crosscheck_amplitudes.txt
scripts/all_resonances_fit_fractions.txt

Analysis/__pycache__
archive/investigation/Analysis/__pycache__
archive/notebooks/README_files/*
.DS_Store
